@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a demo application that belongs to the tutorial on <a href="https://driesdeboosere.dev" target="_blank">driesdeboosere.dev</a></p>
    <img src="~/img/about-dries-deboosere.JPEG" class="img-fluid" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
